<!DOCTYPE html>
<html>
<head>
  <title>{{agency_settings.app_title}}</title>
  <meta name="description" content="SEPTA next stop times and maps.">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
  
  <link rel="shortcut icon" href="/images/{{agency_settings.slug}}-favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/{{agency_settings.slug}}-favicon.ico" type="image/x-icon">
  <link type="text/css" rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css" />
  <link type="text/css" rel="stylesheet" href="/css/app.css" />
  <link type="text/css" rel="stylesheet" href="/css/{{agency_settings.slug}}.css" />
</head>
<body>
  <div 
    id="next-transit-env" 
    data-agency="{{agency}}"
    data-api-key="{{data_api_key}}"
    data-api-url="{{data_url}}"
    data-app-title="{{agency_settings.app_title}}"
    data-search-text="{{agency_settings.search_text}}"
    data-twitter-acct="{{agency_settings.twitter_acct}}"
    style="display:none"
  ></div>
  <div id="next-transit-app" class="app-layout"></div>
  <script src="/js/app.js"></script>
</body>
</html>
